<!DOCTYPE html>
<html>
<head>
  <meta name="generator" content=
  "HTML Tidy for HTML5 for Linux version 5.7.28">
  <meta http-equiv="Content-Type" content=
  "text/html; charset=utf-8">
  <title>BBCrime director's grid</title>
  <style>
    body {
      background: black;
      color: white;
    }
    #grid {
      direction:rtl;
      margin: 2em auto;
    }
    #announcement {
      overflow: hidden;
      font-size: 150%;
      text-align: center;
      width: 100%;
      height: 8em;
      margin-top: 0.5em;
      background: black;
      color: white;
      border: none;
      resize: none;
    }
    #announcement-td {
      vertical-align: bottom;
    }
  </style>
    <script type="text/javascript" src="SegmentDisplay/segment-display.js"></script>
    <script type="text/javascript">

      var display = new SegmentDisplay("clock");
      display.pattern         = "##:##:##";
      display.cornerType      = 2;
      display.displayType     = 7;
      display.displayAngle    = 9;
      display.digitHeight     = 20;
      display.digitWidth      = 12;
      display.digitDistance   = 2;
      display.segmentWidth    = 3;
      display.segmentDistance = 0.5;
      display.colorOn         = "#00ff00";
      display.colorOff        = "#005f00";

      function animate() {
        var time    = new Date();
        var hours   = time.getHours();
        var minutes = time.getMinutes();
        var seconds = time.getSeconds();
        var value   = ((hours < 10) ? ' ' : '') + hours
                    + ':' + ((minutes < 10) ? '0' : '') + minutes
                    + ':' + ((seconds < 10) ? '0' : '') + seconds;
        display.setValue(value);
      }
      window.setInterval(animate, 100);

    </script>
 
</head>
<body>
  <!-- Load Facebook SDK for JavaScript -->
  <div id="fb-root"></div>
  <script async defer src=
  "https://connect.facebook.net/en_US/sdk.js#xfbml=1&amp;version=v3.2"></script>
  <table id="grid">
    <tbody>
      <tr>
        <td>
          <div id="vid1" class="fb-video" data-href="{{{url1}}}"
          data-width="360" data-show-text="false" data-autoplay=
          "true"></div><br>
          {{{text1}}}
        </td>
        <td>
          <div id="vid2" class="fb-video" data-href="{{{url2}}}"
          data-width="360" data-show-text="false" data-autoplay=
          "true"></div><br>
          {{{text2}}}
        </td>
        <td>
          <div id="vid2" class="fb-video" data-href="{{{url3}}}"
          data-width="360" data-show-text="false" data-autoplay=
          "true"></div><br>
          {{{text3}}}
        </td>
      </tr>
      <tr>
        <td>
          <div id="vid1" class="fb-video" data-href="{{{url4}}}"
          data-width="360" data-show-text="false" data-autoplay=
          "true"></div><br>
          {{{text4}}}
        </td>
        <td id="announcement-td">
          <div style="float:left"><strong>BBCrime.TV</strong></div>
          <canvas id="clock" width="60" height="17"></canvas>
          <form>
            <textarea id="announcement" name="announcement">טקסט חופשי
בארצנו</textarea>
          </form>
        </td>
        <td>
          <div id="vid2" class="fb-video" data-href="{{{url5}}}"
          data-width="360" data-show-text="false" data-autoplay=
          "true"></div><br>
          {{{text5}}}
        </td>
      </tr>
      <tr>
        <td>
          <div id="vid1" class="fb-video" data-href="{{{url6}}}"
          data-width="360" data-show-text="false" data-autoplay=
          "true"></div><br>
          {{{text6}}}
        </td>
        <td>
          <div id="vid2" class="fb-video" data-href="{{{url7}}}"
          data-width="360" data-show-text="false" data-autoplay=
          "true"></div><br>
          {{{text7}}}
        </td>
        <td>
          <div id="vid2" class="fb-video" data-href="{{{url8}}}"
          data-width="360" data-show-text="false" data-autoplay=
          "true"></div><br>
          {{{text8}}}
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>
